@model List<MHBlog.Models.Category>


<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

@foreach (var item in Model)
{
    <a class="dropdown-item" aria-labelledby="navbarDropdownMenuLink" asp-route="category" asp-route-id="@item.CategoryID" asp-route-name="@item.Name"  style="font-size:large">@item.Name</a>
    
    }
</div>




